<h2>You have visited this site <%= @visits %> times.</h2>
<% @recipes.each_slice(3) do |recipe_slice| %>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4 index-recipe">
        <div class="well">
          <h2> Title: <a href="/recipes/<%= recipe.id %>"><%= recipe.title%></a></h2>
          <h4> Prep Time: <%= recipe.friendly_prep_time %></h4>
          <h4> Chef: <%= recipe.chef%></h4>
          <img src="<%= recipe.image%>" alt="">
          <h3> Ingredients: <%= recipe.ingredients%> </h3>
          <h3> Directions: <%= recipe.directions %> </h3>
        </div>
      </div>
    <% end %>
  </div>
<%end%>